#!/bin/sh
#==============================================================================
#  Created by Ido Magal on 10/26/11.
#==============================================================================

#   The directory on this machine to be backed up.
#   ( e.g. the whole computer: "/" or a single dir: "/Users/ido/" )
#   Be sure to terminate the string with a "/"
BackupDir="/"

#   Full path of backup destination directory on the Server.
#   RemoteDir="/mnt/DroboFS/Shares/backup/MyComputer"
RemoteDir="/mnt/DroboFS/Shares/backup/LionO"

#   Server name or IP
#   Server="drobo-fs.local"
Server="drobo-fs.local"

#   Server user that will execute the rsync
#   ServerUser="root"
ServerUser="root"

#   Location of rsync on the Server.
#   If backing up to a DroboFS:         RsyncPath="/mnt/DroboFS/Shares/DroboApps/rsync/rsync"
#   Otherwise, very likely not needed:  RsyncPath=""
RsyncPath="/mnt/DroboFS/Shares/DroboApps/rsync/rsync"

#==============================================================================
# Number of backups to keep ( days, weeks, months ).
# Set to -1 to never delete.
# Set to 0 for 'none.' 
#==============================================================================

#   Keep this many daily backups. Set to -1 to never delete. Set to 0 for 'none.'
D_Hist=30

#   Keep this many weekly backups. Set to -1 to never delete. Set to 0 for 'none.'
W_Hist=26   

#   Keep this many monthly backups. Set to -1 to never delete. Set to 0 for 'none.'
M_Hist=-1  

#   Keep this many yearly backups. Set to -1 to never delete. Set to 0 for 'none.'
Y_Hist=-1   


#==============================================================================
# Rsync exclusion
#==============================================================================
#   rsync reads these exclusions in order when traversing the directories and
#   acts on the first pattern that matches, so it's best to sort the filters
#   from the most specific to the most general.
#==============================================================================

RsyncFilter="
###############################################################################
# ------ Misc filters
- *.lrprev

# ------ General OSX excludes
- .Trash/
- .Trashes/
- .Spotlight-*/
- .fseventsd/
- tmp/
- /dev/
- httpcache/
- Cache/
- Caches/

# ------ General Win7/Vista excludes
- Temp/
- temp/
- Windows/
- \$Recycle.Bin/
- MSOCache/
- System\ Volume\ Information/
- Boot/
- bootmgr
- BOOTSECT.BAK
- hiberfil.sys
- pagefile.sys
- Documents\ and\ Settings/
- Users/*/AppData/Local/*/Temporary\ Internet\ Files/
- Users/*/NTUSER.DAT*
- Users/*/ntuser.dat*
- Users/*/AppData/Local/Microsoft/Windows/UsrClass.dat*
- Users/*/AppData/Local/Microsoft/Windows Defender/FileTracker
- Users/*/AppData/Local/Microsoft/Windows/Explorer/thumbcache_*.db
- Users/*/AppData/Local/Microsoft/Windows/WER/
- Users/*/AppData/Local/Mozilla/Firefox/Profiles/*/OfflineCache/
- Users/*/AppData/Local/Google/Chrome/User\ Data/*/Current*
- Users/*/AppData/Roaming/Microsoft/Windows/Cookies/
- ProgramData/Microsoft/Search/
- ProgramData/Microsoft/Windows Defender/
- *.lock
- Thumbs.db
- IconCache.db
- Cache*
- cache*

+ /cygdrive
+ /cygdrive/c
+ /cygdrive/c/Users
+ /cygdrive/c/Users/ido/***
- /cygdrive/***

# ------ Manually include mounted drives here ( \"/Volumes/_DriveName_/***\" )
+ /Volumes/P/***
+ /Volumes/B/***

# ------ Exclude all other mounted drives.
- /Volumes/*

###############################################################################
"

# Stuff you probably don't need to mess with follows
#==============================================================================

#   Date format to use when creating backup directories ( e.g. "Y-%m-%d" results in "2011-12-31" )
#   For more info on formatting dates type "man date" at the console.
#   DateFormat="%Y-%m-%d"
DateFormat="%Y-%m-%d"

#   Log comment time stamp
alias TimeStamp='date +"%H:%M:%S --"'

#_____________________________________________________________________________
# Settings for passwordless SSH.
# You can safely ignore these unless you know what you're doing.
AuthorizedKeys="~/.ssh/authorized_keys" #in rare cases you might need to use authorized_keys2 instead.

# This is the keyfile Trunkfish will use.
# If you prefer to reuse an existing key, such as 'rsa_id', enter it here:
SSHKey="trunkfish_key"

#_____________________________________________________________________________
# Settings for setting up a launchd task.
# You can safely ignore these unless you know what you're doing.
PlistPath="/Library/LaunchDaemons/com.trunkfish.backup.plist"

#==============================================================================
